<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="UserInfoBuilder$" level="WARN"/>
    <logger name="ListReader$" level="INFO"/>
    <logger name="Main$" level="INFO"/>
    <logger name="Copier$" level="DEBUG"/>
    <logger name="streamcomponents" level="INFO"/>
    <logger name="streamcomponents.ExcludeListSwitch" level="ERROR"/>
    <logger name="streamcomponents.OMCommitMetadata" level="WARN"/>
    <logger name="streamcomponents.CheckOMFile" level="WARN"/>
    <logger name="streamcomponents.GatherMetadata" level="ERROR"/>
    <logger name="interpreter" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="ASYNCSTDOUT" />
    </root>

</configuration>
